extends layout

block content
  h1= title
  ul
    each message in messages
      li(class="card mb-1", style="width: 18rem;")
        div(class="card-body")
          h5(class="card-title")= message.text
          p(class="card-text text-muted")= "- " + message.user
